@font-face {
  font-family: "Vaadin-Icons";
  src:  url(Vaadin-Icons.eot);
  src:  url(Vaadin-Icons.eot?#iefix) format("embedded-opentype"),
        url(Vaadin-Icons.woff) format("woff"),
        url(Vaadin-Icons.ttf) format("truetype"),
        url(Vaadin-Icons.svg#icomoon) format("svg");
}

@font-face {
  font-family: 'text-security-disc';
  src:  url('text-security-disc.eot');
  src:  url('text-security-disc.eot?#iefix') format('embedded-opentype'),
        url('text-security-disc.woff2') format('woff2'),
        url('text-security-disc.woff') format('woff'),
        url('text-security-disc.ttf') format('truetype'),
        url('text-security-disc.svg#text-security') format('svg');
}
