<template>
  <div class="checkbox">
    <label>
      <input type="checkbox" :checked="checked" @change="on_change"/>
      <span><slot></slot></span>
    </label>
    <slot name="after"></slot>
  </div>
</template>

<style>
  .checkbox {
    display: flex;
    position: relative;
    min-height: 2em;
    align-items: center;
  }
  .checkbox input + span {
    display: inline-flex;
    align-items: center;
    max-width: calc(100% - 1.36em - 1.5ch);
    overflow-x: hidden;
    padding-left: calc(1.36em + 1.5ch);
    line-height: 1.33;
    font-weight: normal;
    text-overflow: ellipsis;
  }
  .checkbox input + span:hover,
  .checkbox input + span:focus {
    color: black;
  }
  .checkbox input + span::before {
    content: "";
    position: absolute;
    top: calc(50% - .68em - 2px);
    left: 2px;
    width: 1.36em;
    height: 1.36em;
    border: 1px solid #e1e5e8;
    border-radius: 50%;
    vertical-align: middle;
    background: #eef0ef;
  }
  .checkbox label:hover input + span::before,
  .checkbox label:focus input.focus-visible + span::before,
  .checkbox label:focus-within input.focus-visible + span::before{
    box-shadow: 0 0 2px var(--section-color);
  }
  .checkbox input:checked + span::after {
    content: "\e75b";
    position: absolute;
    top: calc(50% - .56em - 2px);
    left: calc(.4em + 2px);
    display: inline-block;
    font-family: Vaadin-Icons;
    font-size: .82em;
    color: #5099c6;
  }
  .checkbox input {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    clip: rect(0, 0, 0, 0);
  }
  .checkbox label:not(:only-child) span:not(:empty) {
    margin-right: 1ch;
  }
  .checkbox label ~ * {
    flex: 1;
  }
</style>

<script>
export default {
  name: 'Checkbox',
  props: {
    item: Object,
    checked: [Boolean, Number],
  },
  methods: {
    on_change(ev) {
      this.$emit('change', ev.target.checked, this.item);
    }
  }
}
</script>
