<template>
  <div class="checkboxes">
    <div class="filter" v-if="items.length">
      <input  placeholder="Filter..."
              v-model="items_filter" />
    </div>
    <template v-if="filtered_items.length">
      <checkbox class="select-all"
                :checked="is_select_all"
                @change="on_select_all">
        {{ $t('checkboxes.select-all') }}
        <template v-slot:after><slot name="after-select-all"></slot></template>
      </checkbox>
      <div class="items">
        <checkbox v-for="item in filtered_items.sort(localeCompare(sort_key))"
                  :item="item"
                  :key="item.id"
                  :checked="is_selected(item)"
                  @change="on_change">
          <slot :item="item" />
            <template v-slot:after>
              <slot name="after" :item="item" />
            </template>
        </checkbox>
      </div>
    </template>
    <div v-else class="inline-feedback">
      <span>{{ $t('checkboxes.empty') }}</span>
    </div>
  </div>
</template>

<style lang="scss">
.checkboxes {
    display: flex;
    flex-flow: column nowrap;
    max-height: 100%;
    overflow: hidden;

  .filter {
    display: grid;
    padding: 2px 4px 2px 2px;
  }
  .filter input {
    padding-left: calc(1.36em + 1.5ch - 1px);
    background: url("../assets/icon/filter.svg") 3px 50% / 1em no-repeat
  }
  .select-all span {
    color: #8e8e8e;
  }
  .select-all span::before {
    filter: opacity(.5);
  }
  .select-all:focus span::before,
  .select-all:focus-within span::before,
  .select-all:hover span::before {
    filter: opacity(1);
  }
  .items {
    flex: 1;
    overflow: hidden auto;
  }
  .inline-feedback {
    flex: 1;
  }
}
</style>

<script>
import Checkbox from './Checkbox.vue'

export default {
  name: 'Checkboxes',
  props: {
    items: {
      type: Array,
      default: Array
    },
    selected: {
      type: Array,
      default: Array
    },
    filter_keys: {
      type: Array,
      default: () => ['name']
    },
    sort_key: {
      default: 'name'
    }
  },
  data() {
    return {
      items_filter: ''
    }
  },
  computed: {
    filtered_items() {
      let locale = this.$i18n.locale
      let filter_lowerCase = this.items_filter.toLocaleLowerCase(locale)
      return this.items.filter(
        item => this.filter_keys.some(key =>
          item[key].toLocaleLowerCase(locale).includes(filter_lowerCase))
      )
    },
    selected_filtered_items() {
      return this.filtered_items.filter( ({id}) => this.selected.some(item => item.id == id) )
    },
    is_select_all() {
      return (this.filtered_items.length
              && this.filtered_items.every(this.is_selected))
    }
  },
  methods: {
    on_change(checked, item) {
      if(checked) {
        this.selected.push(item)
      } else {
        let i = this.selected.findIndex( ({id}) => id == item.id )
        if(i > -1) {
          this.selected.splice(i, 1)
        }
      }
      this.$emit('change', this.selected);
    },
    on_select_all(checked) {
      for(let item of this.filtered_items) {
        let i = this.selected.findIndex( ({id}) => id == item.id )
        if(checked && i == -1) {
          this.selected.push(item)
        } else if(!checked && i > -1) {
          this.selected.splice(i, 1)
        }
      }
      this.$emit('change', this.selected);
    },
    is_selected(item) {
      return this.selected.some( ({id}) => id == item.id )
    }
  },
  components: {
    Checkbox
  }
}
</script>
