<template>
  <div  class="file-manager"
        @dragenter.prevent="on_drag"
        @dragover.prevent="on_drag"
        @drop.prevent="on_drop"
        @dragleave="on_drag_leave">
    <loading-feedback v-if="loading || loading_error"
                      :error="loading_error"
                      :button="$t('retry')"
                      @button="load"/>
    <loading-feedback v-else-if="uploading || uploading_error"
                      :error="uploading_error"
                      button="OK"
                      @button="close_upload_error"/>
    <loading-feedback v-else-if="deleting" />
    <div  v-else-if="show_droptarget"
          ref="droptarget"
          class="droptarget">
      Upload
    </div>
    <div  v-else-if="invalid_drag"
          class="invalid-drag"/>
    <checkboxes v-else
                ref="checkboxes"
                :items="files">
      <template v-slot:after-select-all>
        <div class="buttons">
          <button class="icon delete" @click="on_delete">&#xe80b;</button>
        </div>
      </template>
      <template v-slot="{ item }">
        <span class="name">{{ item.name }}</span>
        <img v-if="show_thumbnails" :src="item.url"/>
      </template>
    </checkboxes>
    <div class="actions">
      <label role="button">
        Upload...
        <input  type="file"
                ref="upload"
                :accept="accept && accept.join(',')"
                multiple
                @change="ev => upload(ev.target.files)"/>
      </label>
    </div>
  </div>
</template>

<style lang="scss">
.file-manager {
  max-width: 45ch;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  background: #fff;

  & > :first-child {
    flex: 1
  }

  &.invalid-drag {
    cursor: pointer;
  }

  .droptarget, .invalid-drag {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 4em;
    font-weight: bold;
    background: var(--border-color);
    color: #fff;
    text-shadow: 0 0 1px silver;

    &::before {
      font-family: Vaadin-Icons;
      height: 1.33em;
      text-align: center;
    }
  }
  .droptarget::before {
    content: "\e746";
  }
  .invalid-drag::before {
    content: "\e810";
  }

  .checkboxes {
    .buttons {
      flex: 0;

      button {
        margin: 0 2px 0 1ch;
        transition: filter .3s ease-out;

        &:not(:hover):not(:focus) {
          filter: opacity(.5);
        }
        &.delete {
          color: #e0061e;
        }
      }
    }

    .items,
    .inline-feedback {
      flex: 1;
      border: 1px solid var(--border-color);
      border-width: 1px 0;
    }

    .filter + * {
      border-top: none;
    }

    label {
      flex: 1;

      & > span {
        display: flex;
        justify-content: space-between;
        flex: 1;
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  img {
    box-sizing: border-box;
    padding: 2px .5ch;
    max-height: 2em;
    max-width: 6ch;
    height: 100%;
  }
  input[type=file] {
    all: unset;
    width: 0;
    position: absolute;
    visibility: hidden;
  }

  .actions {
    display: inline-flex;
    justify-content: flex-end;
    margin-top: 1ex;

    & > :not(:first-child) {
      margin-left: 2ch;
    }
  }
}
</style>

<script>
import LoadingFeedback from '../components/LoadingFeedback.vue'
import Checkboxes from '../components/Checkboxes.vue'
import api from '../api.js'
import { REST_BASE, FILE_TYPES } from '../config.js'

export default {
  name: 'FileManager',
  data() {
    return {
      files: [],
      loading: false,
      loading_error: '',
      uploading: false,
      uploading_error: '',
      deleting: false,
      show_droptarget: false,
      invalid_drag: false
    }
  },
  props: {
    type: {
      type: String,
      required: true
    },
    show_thumbnails: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    accept() {
      return FILE_TYPES[this.type].accept
    }
  },
  created() {
    this.load()
  },
  methods: {
    async load() {
      this.loading = true
      let files = []
      try {
        for(let name of await api.get_files(this.type)) {
          let url = new URL('file', REST_BASE)
          url.searchParams.set('type', this.type)
          url.searchParams.set('name', name)
          url.searchParams.set('size', '40x20')
          files.push({name, url, id: name})
        }
        this.files = files
        this.loading_error = ''
      } catch(ex) {
        this.loading_error = this.$t('load-fail')
      }
      this.loading = false
    },
    async upload(files) {
      this.uploading_error = ''
      this.loading_error = ''
      this.uploading = true
      let failed_files = []
      for(let file of files) {
        try {
          await api.upload_file(this.type, file.name, file)
        } catch(ex) {
          console.error(ex)  // eslint-disable-line no-console
          failed_files.push(file.name)
        }
      }
      this.uploading = false
      if(failed_files.length == 0) {
        this.load()
      } else if(failed_files.length == files.length) {
        this.uploading_error = this.$t('upload.failed')
      } else {
        this.uploading_error = this.$t( 'upload.failed-some',
                                        [failed_files.join(', ')] )
      }
      // reset filter of file selection dialog to types in input.accept
      this.$refs.upload.value = ''
    },
    close_upload_error() {
      this.uploading_error = ''
      this.load()
    },
    async on_delete() {
      let files = this.$refs.checkboxes.selected_filtered_items
      if(files.length == 0) {
        return
      }
      let ok = confirm([
          this.$tc('dialog.confirm-delete-files', files.length == 1 ? 1 : 2),
          '',
          ...files.map( ({name}) => name )
        ].join('\n'))
      if(!ok) {
        return
      }
      let deleted_files = []
      this.uploading_error = ''
      this.loading_error = ''
      this.deleting = true
      await Promise.all(files.map(file =>
          api.delete_file(this.type, file.name)
          .then(() => deleted_files.push(file))
          .catch(ex => {
              console.error(ex)  // eslint-disable-line no-console
          })
      ))
      this.files = this.files.filter(file => !deleted_files.includes(file))
      this.deleting = false
      this.$nextTick( () => {
        if(this.$refs.checkboxes.filtered_items.length == 0) {
          this.$refs.checkboxes.items_filter = ''
        }
      })
    },
    on_drag(ev) {
      ev.preventDefault()
      if(this.is_valid_drag(ev)) {
        this.invalid_drag = false
        this.show_droptarget = true
        ev.dataTransfer.dropEffect = 'copy'
      } else {
        this.invalid_drag = true
        ev.dataTransfer.dropEffect = 'none'
      }
    },
    on_drop(ev) {
      this.invalid_drag = false
      if(this.is_valid_drag(ev)) {
        this.show_droptarget = false
        let files = [...ev.dataTransfer.files]
        if(this.accept) {
          files = files.filter(file => this.accept.includes(file.type))
        }
        this.upload(files)
      }
    },
    on_drag_leave(ev) {
      if(this.$el.contains(ev.target) && !this.$el.contains(ev.relatedTarget)) {
        this.show_droptarget = false
        this.invalid_drag = false
      }
    },
    is_valid_drag(ev) {
      if( this.loading || this.loading_error ||
          this.uploading || this.uploading_error) {
        return false
      } else if(!this.accept) {
        return true
      } else if(ev.dataTransfer.items) {
        return [...ev.dataTransfer.items].some(item =>
          item.kind == 'file' && this.accept.includes(item.type))
      } else if(ev.dataTransfer.files) {
        return [...ev.dataTransfer.files].some(file =>
          this.accept.includes(file.type))
      }
    }
  },
  components: {
    LoadingFeedback,
    Checkboxes
  }
}

</script>
