<template>
  <div  @focusout="on_blur"
        @keydown.esc="on_esc_key"
        @keydown.up="goto_prev"
        @keydown.down="goto_next">
    <label :for="`${i18n_path}_${uid}`">
      <span v-if="$te(`${this.i18n_path}.label`)" v-t="`${this.i18n_path}.label`"/>
    </label>
    <toggle-button  ref="toggle"
                    :inputId="`${i18n_path}_${uid}`"
                    :value="value"
                    :disabled="disabled"
                    @change="on_change"/>
    <info-button  ref="info_button"
                  :i18n_path="i18n_path"
                  @toggle="() => $refs.input.focus()" />
  </div>
</template>

<script>
import FormComponent from './FormComponentMixin.js'
import InfoButton from './InfoButton.vue'
import ToggleButton from '../components/ToggleButton.vue'

export default {
  mixins: [FormComponent],
  name: 'FormToggle',
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    focus() {
      this.$refs.toggle.focus()
    },
    goto_prev() {
      this.$emit('focus:prev', this)
    },
    goto_next() {
      this.$emit('focus:next', this)
    },
    on_blur(ev) {
      if(!this.$el.contains(ev.relatedTarget)) {
        this.$refs.info_button.close_overlay()
      }
    },
    on_esc_key() {
      this.$refs.info_button.close_overlay()
    },
    on_change(value) {
      this.$emit('input', value, this);
    }
  },
  components: {
    ToggleButton,
    InfoButton
  }
}

</script>
