<template>
  <div  class="form-icon-select"
        @focusout="on_blur"
        @focusin="on_focus"
        @mousedown.capture="on_mousedown">
    <label :for="`${i18n_path}_${uid}`">
      <span v-if="$te(`${this.i18n_path}.label`)" v-t="`${this.i18n_path}.label`"/>
    </label>
    <v-select ref="select"
              :map-keydown="map_keydown"
              :closeOnSelect="false"
              :options="files"
              :value="selected_file"
              label="name"
              :inputId="`${i18n_path}_${uid}`"
              spellcheck="false"
              @input="on_input">
      <template #no-options>
        <loading-feedback v-if="loading" />
        <span v-else v-html="$t('iconselect.empty')" />
      </template>
      <template #selected-option="{name, url}">
        <img :src="url"/>
        {{ name }}
      </template>
      <template #option="{name, url}">
        <img :src="url"/>
        {{ name }}
      </template>
    </v-select>
    <info-button  ref="info_button"
                  class="overlay_above"
                  :i18n_path="i18n_path"
                  @toggle="on_info_toggle" />
  </div>
</template>

<style lang="scss">
.form-icon-select {
  .vs__selected,
  .vs__dropdown-option {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 1ch;

    img {
      max-height: 20px;
    }
  }
  .v-select .vs__dropdown-toggle .vs__selected-options input.vs__search {
    margin-left: calc(20px + 1ch);
  }
}
</style>

<script>
import FormComponent from './FormComponentMixin.js'
import InfoButton from './InfoButton.vue'
import LoadingFeedback from './LoadingFeedback.vue'
import api from '../api.js'
import { REST_BASE } from '../config.js'

export default {
  mixins: [FormComponent],
  name: 'FormIconSelect',
  data() {
    return {
      open_on_next_focus: false,
      files: [],
      loading: false,
      loading_error: ''
    }
  },
  computed: {
    selected_file() {
      return this.value? this.files.find(f => f.name == this.value) : null
    },
    input() {
      return this.$refs.select.$refs.search
    },
    clear_button() {
      return this.$refs.select.$refs.clearButton
    }
  },
  mounted() {
    this.input.addEventListener('input', () => {
      this.$refs.select.open = true
    })
  },
  created() {
    this.load()
  },
  methods: {
    async load() {
      this.loading = true
      let files = []
      try {
        for(let name of await api.get_files('icon')) {
          let url = new URL('file', REST_BASE)
          url.searchParams.set('type', 'icon')
          url.searchParams.set('name', name)
          url.searchParams.set('size', '40x20')
          files.push({name, url, id: name})
        }
        this.files = files
        this.loading_error = ''
      } catch(ex) {
        this.loading_error = this.$t('load-fail')
      }
      this.loading = false
    },
    focus() {
      this.input.focus()
    },
    on_info_toggle() {
      this.input.focus()
    },
    on_blur(ev) {
      if(!this.$el.contains(ev.relatedTarget)) {
        this.$refs.info_button.close_overlay()
      }
      this.$refs.select.open = false
    },
    on_input(value) {
      this.$refs.select.open = false
      this.open_on_next_focus = false
      this.input.focus()
      this.$emit('input', value && value.name, this)
    },
    on_focus() {
      this.$refs.select.open = this.open_on_next_focus
      this.open_on_next_focus = false
    },
    on_mousedown({button, target}) {
      if(button == 0 && this.$refs.select.$el.contains(target)) {
        if(!this.input.matches(':focus') && target != this.clear_button) {
          this.open_on_next_focus = true
        }
      }
    },
    map_keydown(map, select) {
      const open_dropdown = ev => {
        select.open = true
        ev.preventDefault()
      }
      return {
        ...map,
        13: ev => {
          if(select.open) {
            map[13](ev)
            select.open = false
          } else {
            open_dropdown(ev)
          }
        },
        27: () => { //Escape
          select.open = false
          this.input.blur()
          this.input.focus()
        },
        32: ev => !select.open && open_dropdown(ev), // Space
        34: ev => !select.open && open_dropdown(ev), // PageDown
        46: ev => !select.open && map[8](ev), // Delete
        38: ev => !select.open? this.$emit('focus:prev', this) : map[38](ev), // Up
        40: ev => !select.open? this.$emit('focus:next', this) : map[40](ev) // Down
      }
    }
  },
  components: {
    InfoButton,
    LoadingFeedback
  }
}

</script>
