<template>
  <div  @focusout="on_blur"
        @focusin="on_focus"
        @mousedown.capture="on_mousedown">
    <label :for="`${i18n_path}_${uid}`">
      <span v-if="$te(`${this.i18n_path}.label`)" v-t="`${this.i18n_path}.label`"/>
    </label>
    <v-select ref="select"
              :map-keydown="map_keydown"
              :closeOnSelect="false"
              :options="values"
              :value="value == null? null : String(value)"
              :getOptionLabel="getLabel"
              :placeholder="getLabel(String(schema.default || false))"
              :inputId="`${i18n_path}_${uid}`"
              @input="on_input">
    </v-select>
    <info-button  ref="info_button"
                  class="overlay_above"
                  :i18n_path="i18n_path"
                  @toggle="on_info_toggle" />
  </div>
</template>

<script>
import FormSelect from './FormSelect.vue'

export default {
  mixins: [FormSelect],
  name: 'FormBooleanSelect',
  props: {
    value: Boolean,
  },
  computed: {
    values() {
      return [...this.options.keys()].map(String)
    },
    options() {
      return new Map( this.schema.enum.map( (value, index) =>
        [ String(value), this.$t(`${this.i18n_path}.enum_labels[${index}]`) ] )
      )
    }
  },
  methods: {
    on_input(value) {
      if(value == 'false') {
        value = false
      } else if(value) {
        value = true
      }
      FormSelect.methods.on_input.call(this, value)
    },
  }
}

</script>
