<template>
  <div  class="info-button"
        v-if="context_info_url || has_hint || has_errors"
        @keydown.esc="autoclose_overlay"
        @blur.capture="on_blur">
    <button class="icon"
            :class="{active: overlay_open, error: has_errors}"
            @mousedown.exact.prevent
            @click="on_click">
      {{ overlay_open? '&#xe810;' : has_errors? '&#xe706;' : '&#xe71c;' }}
    </button>
    <transition name="fade">
      <div ref="overlay" class="overlay" v-if="overlay_open" tabindex="-1">
        <ul class="error" v-if="has_errors">
          <li v-for="(msg, index) in errors"
              :key="index"
              v-html="Array.isArray(msg)? $t(msg[0], msg[1]) : $t(msg)" />
        </ul>
        <div class="info"
              v-if="!errors_only">
          <div  v-if="has_hint"
                v-html="$t(`${i18n_path}.hint`)" />
          <div v-if="context_info_url">
            <a  :href="context_info_url"
                target="_blank">Knowledge Base</a>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<style lang="scss">
.info-button {
  display: flex;
  justify-content: center;
  button {
    color: var(--text-color);
    transition: color .5s ease-in-out;
    cursor: pointer;
    &.error {
      color: red;
    }
    &:not(.error):hover,
    &:not(.error):focus,
    &:not(.error).active {
      color: #0064a2;
    }
    div:not(:hover):not(:focus-within) > &:not(:hover):not(.active):not(.error) {
      color: var(--border-color);
    }
    &.focus-visible {
      outline: 1px outset var(--border-color);
      padding: 0 .5ch;
    }
  }
  .fade-enter-active {
    transition: opacity .2s ease-in;
  }
  .fade-leave-active {
    transition: opacity .2s ease-out;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  .overlay {
    position: absolute;
    top: calc(50% + 11px);
    right: 3px;
    z-index: var(--popup-z-index);
    max-width: 45ch;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    cursor: default;

    fieldset[data-level="1"] > :first-child & {
      top: calc(50% + 1em + 4px)
    }

    a[target=_blank] {
      display: inline-block;

      &::before {
        content: "\e7de\a0";
        display: inline-block;
        font-family: Vaadin-Icons;
        font-size: .82em;
        font-weight: 300;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }
  &.overlay_above .overlay {
    top: unset;
    bottom: calc(50% + 11px);
  }
  ul.error {
    list-style: none;
    margin: 0;
    padding: 0em 35px 0em 20px;
    line-height: 1.33;
    font-weight: 400;
    background: red;
    color: white;
    text-shadow: 0 0;

    li {
      &::marker {
        content: unset;
      }

      padding: 0.33em 0;
    }
  }
  .info:not(:empty) {
    padding: 0.33em 35px 0.33em 20px;
    line-height: 1.5;
    font-weight: 400;
    background: #1ca6e7;
    color: white;
  }
}
</style>

<script>
export default {
  name: 'InfoButton',
  data() {
    return {
      overlay_open: false,
      errors_only: false,
      delayed_error_overlay: null,
      ignore_click: false
    }
  },
  props: {
    errors: {
      type: Array,
      default: () => []
    },
    i18n_path: {
      type: String,
      required: true
    },
    autoclose: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    errors(val) {
      clearTimeout(this.delayed_error_overlay)
      if(val.length) {
        if(this.overlay_open) {
          this.show_errors()
        }
      } else if(this.errors_only) {
        this.close_overlay()
      }
    }
  },
  computed: {
    has_hint() {
      return this.$te(`${this.i18n_path}.hint`)
    },
    has_errors() {
      return this.errors.length > 0
    },
    context_info_url() {
      let kb_key = `${this.i18n_path}.article`
      if(!this.$i18n.te(kb_key)) {
        return ''
      }
      let version = this.$root.version.replace(/(\d+)\.(\d+).*/, "$1$2")
      return [
        'https://wiki.openthinclient.org/display/_PK/OMD', version, '/',
        this.$i18n.t(kb_key),
        this.$i18n.locale == 'de'? '' : '#googtrans(de|en)'
      ].join('')
    }
  },
  methods: {
    on_click() {
      if(this.ignore_click) {
        return
      }
      if(this.overlay_open) {
        this.close_overlay()
      } else {
        this.show_info()
      }
      this.$emit('toggle', this.overlay_open)
    },
    on_blur(ev) {
      if(!this.$el.contains(ev.relatedTarget)) {
        this.autoclose_overlay()
      }
    },
    show_info() {
      this.overlay_open = true
      this.errors_only = false
      if(this.autoclose) {
        this.$nextTick( () => this.$refs.overlay.focus())
      }
    },
    show_errors() {
      if(!this.overlay_open && this.errors) {
        this.overlay_open = true
        this.errors_only = true
        if(this.autoclose) {
          this.$nextTick( () => this.$refs.overlay.focus())
        }
      }
    },
    show_errors_later() {
      this.delayed_error_overlay = setTimeout(() => {
        this.show_errors()
        this.ignore_click = true
        setTimeout( () => {this.ignore_click = false}, 400 )
      }, 600)
    },
    close_overlay() {
      clearTimeout(this.delayed_error_overlay)
      this.overlay_open = false
    },
    autoclose_overlay() {
      if(this.autoclose) {
        this.close_overlay()
      }
    }
  }
}
</script>
