<template>
  <div class="mainmenu-items" :class="{expanded: is_visible}">
    <template v-if="is_visible">
      <div class="filter">
        <input  placeholder="Filter..."
                v-model="filter" />
      </div>
      <div class="items" >
        <template v-for="[subtype, label] in subtypes_sorted">
          <div  class="item-type"
                v-if="filtered_items[subtype]"
                :key="'label-'+subtype">
            {{ label }}
          </div>
          <ul v-if="filtered_items[subtype]" :key="'items-'+subtype">
            <li v-for="item in filtered_items[subtype]" :key="item.id">
              <router-link  :to="{name: type, params: {id: item.id}}">
                {{ item.name }}
              </router-link>
            </li>
          </ul>
        </template>
      </div>
    </template>
  </div>
</template>

<style>
#mainmenu {
  display: flex;
  flex-flow: column nowrap;
}
#mainmenu .mainmenu-items {
  display: flex;
  flex-flow: column nowrap;
  flex: 0;
  overflow: hidden;
  background: #000;
  transition: flex .3s ease-out;
}
#mainmenu .mainmenu-items.expanded {
  flex: auto;
}
#mainmenu .filter {
  display: grid;
  padding: 0;
  border: 0;
  margin: 0;
}
#mainmenu .filter input {
  height: 1.5em;
  border-width: 1px 0;
  border-color: #747474;
  padding: 4px 16px 4px 55px;
  font-size: 13px;
  color: #fff;
  background: url("../assets/icon/filter.svg") 25px 50% / 1em no-repeat;
}
#mainmenu .filter input::placeholder {
  line-height: 1.5em;
  opacity: 1;
}
#mainmenu .items {
  height: 100%;
  overflow: hidden auto;
  font-size: 12px;
  line-height: 1.5;
  white-space: nowrap;
  background: #000;
}
#mainmenu .items .item-type {
  padding: 2px 16px 2px 18px;
  font-weight: bold;
  color: white;
}
#mainmenu .items ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#mainmenu .items a {
  position: relative;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 16px 0 55px;
  font-weight: 400;
  color: #747474;
}
#mainmenu .items a.router-link-active,
#mainmenu .items a:hover {
  color: white;
}
#mainmenu .items a::before {
  content: "";
  position: absolute;
  left: 28px;
  top: calc(50% - 3px);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #2a2d32;
}
#mainmenu .items a.router-link-active::before {
  background: var(--section-color);
}
</style>

<script>
import api from '../api.js'
import { mapActions, mapState } from 'vuex'

export default {
  data() {
    return {
      filter: ''
    }
  },
  props: {
    type: String
  },
  created() {
    this.loadItems()
  },
  computed: {
    ...mapState([
      'schemas',
      'shortitems'
    ]),
    is_visible() {
      return this.$route.meta.section == this.type
    },
    filtered_items() {
       let items = {}
       for(let item of (this.shortitems[this.type] || [])) {
         if(item.name.toLowerCase().includes(this.filter.toLowerCase())) {
           if(!items[item.subtype]) {
             items[item.subtype] = []
           }
           items[item.subtype].push(item)
         }
       }
       Object.values(items).forEach(subtype_items =>
         subtype_items.sort(this.localeCompare('name'))
       )
       return items
    },
    subtypes_sorted() {
      return Object.keys(this.schemas[this.type] || {})
              .map(subtype => [ subtype,
                                this.$t(`schema.${this.type}.${subtype}.label`)])
              .sort(this.localeCompare(1))
    }
  },
  methods: {
    ...mapActions([
      'update_shortitems',
    ]),
    async loadItems() {
      try {
        await this.update_shortitems()
      } catch(ex) {
        if(ex instanceof api.ServerError) {
          this.feedback = 'Could not get data from server'
        } else if(ex instanceof api.JSONError) {
          this.feedback = 'Got invalid data from server'
        } else {
          this.feedback = 'Error while loading data'
        }
        console.error(ex) // eslint-disable-line no-console
      }
    }
  }
}
</script>
