<template>
  <div class="network-adapter-config">
    <div  class="title"
          :class="{[config.type]: true, inactive: !if_up}">
      <span class="type"
            :class="config.type"
            v-t="`network_adapter.type.${config.type}`"/>
      ({{ config.name }})
      <div class="model">
        {{ config.vendor }}
        {{ config.model }}
      </div>
      <div class="interface-status">
        <toggle-button  ref="if_up"
                        :inputId="`${config.name}_if_up_toggle`"
                        :value="if_up"
                        i18n_path="form.if_up"
                        @focus:prev="goto_prev"
                        @focus:next="$refs.dhcp.focus_first()"
                        @change="on_if_up_change"/>
        <label :for="`${config.name}_if_up_toggle`">
          {{ $t(`relationship.${if_up? 'is-related' : 'not-related'}`) }}
        </label>
      </div>
    </div>
    <div>
      <div  class="connection-status"
            :class="{hidden: !if_up}">
        <span class="icon" v-html="connection_status_icon" />
        <template v-if="config.type == 'wifi' && connection_status == 'routable'">
          {{ $t(`network_adapter.status.connected_to`) }}
          {{ this.config.connected_essid }}
        </template>
        <template v-else>
          {{ $t(`network_adapter.status.${connection_status}`) }}
        </template>
      </div>

      <template v-if="config.type == 'wifi'">
          <div  role="button"
                v-if="original_state == 'on'"
                :class="{ active: show_wifi_networks, hidden: !if_up }"
                @click="on_manage_wifi_networks"
                v-t="'network_adapter.manage_wifi_networks'"/>
        <wifi-connection-config v-if="show_wifi_networks && if_up"
                                ref="wifi_config"
                                :config="config"/>
      </template>

      <div class="simple-form">
        <form-group ref="dhcp"
                    :value="config"
                    :schema="dhcp_schema"
                    :class="{hidden: !if_up}"
                    i18n_path="form"
                    @focus:prev="$refs.if_up.focus_last()"
                    @focus:next="$refs.addr.focus_first()"
                    @input="on_dhcp_input"/>
        <form-group ref="addr"
                    :value="addr_value"
                    :schema="addr_schema"
                    :disabled="config.dhcp"
                    :class="{hidden: !if_up}"
                    i18n_path="form"
                    @focus:prev="$refs.dhcp.focus_last()"
                    @focus:next="goto_next"
                    @validated="$emit('validated')"
                    @input="on_input"/>
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="../simple-form.scss"></style>
<style lang="scss">
.network-adapter-config {
  margin-bottom: 1em;
  & > * {
    padding: 0 2ch;
  }
  .title {
    display: grid;
    grid-template:
      "icon type  ifname if-status-toggle"
      "icon model model  if-status-toggle"
      /auto auto  1fr    auto;
    column-gap: 1ch;
    margin-bottom: 1ex;
    font-size: 14px;
    color: white;
    text-shadow: 0 0 0 #fff;
    background: var(--panel-caption-bg);

    &.inactive {
      background-image: linear-gradient(#fff3, #fff3);
    }

    &::before {
      grid-area: icon;
      font-family: Vaadin-Icons;
      text-shadow: none;
    }
    &.ethernet::before {
      content: "\e739";
    }
    &.wifi::before {
      content: "\e738";
    }

    .model {
      grid-area: model;
      font-size: .82em;
      line-height: 1.2;
      margin-bottom: .5em;
    }

    .interface-status {
      grid-area: if-status-toggle;
      display: grid;
      align-content: center;
      justify-items: center;
      line-height: 1.33;

      input:checked {
        box-shadow: 0 0 1px 1px var(--border-color);
      }
    }
  }

  .connection-status {
    display: inline-block;
    margin-right: 1ch;

    .icon {
      margin-right: 1ch;
      font-family: Vaadin-Icons;
    }
  }

  .hidden {
    height: 0;
    opacity: 0;
    transform: scaleY(0);
    position: absolute;
  }

  .simple-form {
    display: grid;
    margin-top: 1ch;
  }

  .form-group * {
    transition:
      all .1s ease-in-out,
      opacity 0s ease;
  }
  .form-group.hidden * {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}
</style>

<script>
import WifiConnectionConfig from '../components/WifiConnectionConfig.vue'
import FormGroup from '../components/FormGroup.vue'
import ToggleButton from '../components/ToggleButton.vue'
import canonical from '../canonical_string.js'

const ipv4_validator = {
  type: 'regex',
  value: String.raw`^\d+\.\d+\.\d+\.\d+$`
}
const clone = o => {
  if(o == null || typeof o != 'object') {
    return o
  } else if(Array.isArray(o)) {
    return o.map(clone)
  } else {
    return Object.entries(o).reduce( (r, [k,v]) => (r[k] = clone(v), r), {})
  }
}
export default {
  name: 'network-adapter-config',
  data() {
    return {
      network: {},
      dhcp_schema: {
        dhcp: {
          type: 'toggle'
        }
      },
      dhcp_config: {},
      original: '',
      original_state: null,
      original_dhcp: null,
      show_wifi_networks: false
    }
  },
  props: {
    config: {
      type: Object,
      default: () => ({})
    }
  },
  created() {
    this._init_config()
  },
  watch: {
    config() {
      this._init_config()
    }
  },
  computed: {
    connection_status_icon() {
      switch(this.connection_status) {
        case 'routable':
          return '&#xe75b;' // check
        case 'carrier':
        case 'dormant':
          return '&#xe91f;' // ellipsis
        default:
          return '&#xe748;' // warn
      }
    },
    addr_schema() {
      return {
        ip: {
          type: 'string',
          validators: this.config.dhcp? [] : [{type: 'required'},
                                              ipv4_validator]
        },
        netmask: {
          type: 'string',
          validators: this.config.dhcp? [] : [{type: 'required'},
                                              ipv4_validator]
        },
        gateway: {
          type: 'string',
          validators: this.config.dhcp? [] : [ipv4_validator],
        },
        dns : {
          type: 'object',
          0:  {
            type: 'string',
            validators: this.config.dhcp? [] : [{type: 'required'},
                                                ipv4_validator]
          },
          1: {
            type: 'string',
            validators: this.config.dhcp? [] : [ipv4_validator]
          }
        }
      }
    },
    if_up() {
      return this.config.state == 'on'
    },
    connection_status() {
      if(this.config.setupstate == 'configured') {
        return this.config.operstate
      } else {
        return 'off'
      }

    },
    addr_value() {
      return this.config.dhcp? this.dhcp_config : this.config
    },
    valid() {
      return this.config.dhcp || this.$refs.addr.valid
    },
    changed() {
      return (this.original_state != this.config.state ||
              this.original_dhcp != this.config.dhcp ||
              (!this.config.dhcp && this.original != canonical(this.config)))
    }
  },
  methods: {
    _init_config() {
      if( this.config.operstate == 'off' ||
          this.config.setupstate == 'unmanaged' ) {
        this.$set(this.config, 'state', 'off')
      } else {
        this.$set(this.config, 'state', 'on')
      }
      this.original = canonical(this.config)
      this.original_state = this.config.state
      this.original_dhcp = this.config.dhcp
      this.dhcp_config = this.config.dhcp? clone(this.config) : {}
    },
    on_manage_wifi_networks() {
      if(this.show_wifi_networks) {
        this.show_wifi_networks = false
      } else {
        this.show_wifi_networks = true
      }
    },
    on_if_up_change(value) {
      if(value) {
        setTimeout(() => this.$el.scrollIntoView({block: 'nearest', behavior: 'smooth'}), 200)
      }
      this.$set(this.config, 'state', value? 'on' : 'off')
      this.$emit('input', this.config, this)
    },
    on_dhcp_input() {
      this.on_input()
      this.$nextTick( () => this.validate() )
    },
    on_input() {
      this.$emit('input', this.config, this)
    },
    validate() {
      if(!this.config.dhcp) {
        this.$refs.addr.validate()
      } else {
        this.$emit('validated')
      }
    },
    goto_prev() {
      this.$emit('focus:prev', this)
    },
    goto_next() {
      this.$emit('focus:next', this)
    },
    focus_first() {
      this.$refs.dhcp.focus_first()
    },
    focus_last() {
      this.$refs.addr.focus_last()
    }
  },
  components: {
    WifiConnectionConfig,
    FormGroup,
    ToggleButton
  }
}

</script>
