<template>
  <span tabindex="-1"
        @keydown.esc="visible = false"
        @blur.capture="ev => {visible = !!ev.relatedTarget}">
    <button :class="{active: visible}"
            @click="visible ^= true">
        {{ label }}
    </button>
    <slot v-if="visible"/>
  </span>
</template>

<script>
export default {
  name: "PopupButton",
  data() {
    return {
      visible: false,
    };
  },
  props: {
    label: String,
  },
};
</script>
