<template>
  <div  class="wallpaper-manager file-manager"
        @dragenter.prevent="on_drag"
        @dragover.prevent="on_drag"
        @drop.prevent="on_drop"
        @dragleave="on_drag_leave">
    <loading-feedback v-if="loading || loading_error"
                      :error="loading_error"
                      :button="$t('retry')"
                      @button="load"/>
    <loading-feedback v-else-if="uploading || uploading_error"
                      :error="uploading_error"
                      button="OK"
                      @button="close_upload_error"/>
    <div  v-else-if="show_droptarget"
          ref="droptarget"
          class="droptarget">
      Upload
    </div>
    <div  v-else-if="invalid_drag"
          class="invalid-drag"/>
    <div  v-else
          class="inline-feedback"
          :style="image_style">
      <span v-if="!url" v-t="'wallpaper.none'" />
    </div>
    <div class="actions">
      <button v-t="'reset'"
              :disabled="!url"
              @click="on_delete"/>
      <label role="button">
        Upload...
        <input  type="file"
                ref="upload"
                :accept="accept && accept.join(',')"
                @change="ev => upload(ev.target.files[0])"/>
      </label>
    </div>
  </div>
</template>

<style lang="scss">
.wallpaper-manager {}
</style>

<script>
import LoadingFeedback from '../components/LoadingFeedback.vue'
import api from '../api.js'
import { REST_BASE, FILE_TYPES } from '../config.js'

export default {
  name: 'WallpaperManager',
  data() {
    return {
      filename: '',
      loading: false,
      loading_error: '',
      uploading: false,
      uploading_error: '',
      show_droptarget: false,
      invalid_drag: false
    }
  },
  computed: {
    accept() {
      return FILE_TYPES.wallpaper.accept
    },
    url() {
      if(this.filename) {
        let url = new URL('file', REST_BASE)
        url.searchParams.set('type', 'wallpaper')
        url.searchParams.set('name', this.filename)
        url.searchParams.set('size', '400x300')
        url.searchParams.set('_', new Date().getTime())
        return url
      }
      return null
    },
    image_style() {
      if(this.url) {
        return {
          background: `url("${this.url}") no-repeat top / contain`
        }
      }
      return null
    }
  },
  created() {
    this.load()
  },
  methods: {
    async load() {
      this.loading = true
      try {
        this.filename = (await api.get_files('wallpaper'))[0]
        this.loading_error = ''
      } catch(ex) {
        this.loading_error = this.$t('load-fail')
      }
      this.loading = false
    },
    async upload(file) {
      this.uploading_error = ''
      this.loading_error = ''
      this.uploading = true
      try {
        if(this.filename) {
          await api.delete_file('wallpaper', this.filename)
        }
        this.filename = null
        await api.upload_file('wallpaper', 'wallpaper.png', file)
      } catch(ex) {
        this.uploading_error = this.$t('upload.failed')
        console.error(ex)  // eslint-disable-line no-console
      }
      this.uploading = false
      // reset filter of file selection dialog to types in input.accept
      this.$refs.upload.value = ''
      this.load()
    },
    close_upload_error() {
      this.uploading_error = ''
      this.load()
    },
    async on_delete() {
      let url = this.url
      url.method="DELETE"
      let ok = confirm(this.$t('dialog.confirm-reset-wallpaper'))
      if(!ok) {
        return
      }
      this.uploading_error = ''
      this.loading_error = ''
      this.deleting = true
      try {
        await api.delete_file('wallpaper', this.filename)
        this.filename = ''
      } catch(ex) {
        console.error(ex)  // eslint-disable-line no-console
      }
      this.deleting = false
      this.load()
    },
    on_drag(ev) {
      ev.preventDefault()
      if(this.is_valid_drag(ev)) {
        this.invalid_drag = false
        this.show_droptarget = true
        ev.dataTransfer.dropEffect = 'copy'
      } else {
        this.invalid_drag = true
        ev.dataTransfer.dropEffect = 'none'
      }
    },
    on_drop(ev) {
      this.invalid_drag = false
      if(this.is_valid_drag(ev)) {
        this.show_droptarget = false
        let files = [...ev.dataTransfer.files]
        if(this.accept) {
          files = files.filter(file => this.accept.includes(file.type))
        }
        this.upload(files)
      }
    },
    on_drag_leave(ev) {
      if(this.$el.contains(ev.target) && !this.$el.contains(ev.relatedTarget)) {
        this.show_droptarget = false
        this.invalid_drag = false
      }
    },
    is_valid_drag(ev) {
      if( this.loading || this.loading_error ||
          this.uploading || this.uploading_error) {
        return false
      } else if(!this.accept) {
        return true
      } else if(ev.dataTransfer.items) {
        return [...ev.dataTransfer.items].some(item =>
          item.kind == 'file' && this.accept.includes(item.type))
      } else if(ev.dataTransfer.files) {
        return [...ev.dataTransfer.files].some(file =>
          this.accept.includes(file.type))
      }
    }
  },
  components: {
    LoadingFeedback
  }
}

</script>
