<template>
  <div  class="wifi-connection-editor">
    <label>
      {{ $t('network_adapter.ssid') }}
      <input  v-model="config.settings.essid"
              spellcheck="false"
              autocapitalize="off"
              autocorrect="off"
              autocomplete="off"/>
    </label>
    <label class="passwd">
      {{ $t('network_adapter.password') }}
      <input  class="password"
              v-model="config.settings.password"
              spellcheck="false"
              autocapitalize="off"
              autocorrect="off"
              autocomplete="off"/>
    </label>
    <div class="buttons">
      <button v-if="network.id"
              @click="$emit('delete')"
              v-t="'forget'"/>
      <button class="save"
              :disabled="save_disabled"
              @click="$emit('save', config)"
              v-t="'save'"/>
    </div>
  </div>
</template>

<style lang="scss">
.wifi-connection-editor {
  display: grid;
  grid-template:
    "essid    essid"
    "password password"
    "buttons  buttons" / auto 1fr;
  gap: 2px 1ch;

  label {
    display: contents;
  }
  input {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  .essid {
    grid-area: essid;
  }
  .passwd {
    grid-area: password;
  }
  .buttons {
    grid-area: buttons;
    display: grid;
    grid-template: "forget save";
    justify-content: space-between;

    .save {
      grid-area: save;
    }
  }
}
</style>

<script>
export default {
  name: 'wifi-connection-editor',
  data() {
    return {
      config: {...this.network}
    }
  },
  props: {
    network: {
      type: Object,
      default: Object
    },
  },
  watch: {
    network(value) {
      this.config = value
    }
  },
  computed: {
    save_disabled() {
      let essid = this.config.settings.essid
      if(!essid || !essid.trim()){
        return true
      }
      let password = this.config.settings.password
      if(password && (password.length < 8 || password.length > 63)) {
        return true
      }
      return false
    }
  },
  mounted() {
    this.$el.scrollIntoView({block: 'nearest', behavior: 'smooth'})
  }
}

</script>
