<template>
  <div class="wifi-connection-config">
    <div class="known-wifi-networks">
      <div  class="heading"
            v-t="'network_adapter.known_wifi_networks'"/>
      <div  v-if="wifi_connections.length"
            ref="known_wifi_connections"
            class="list">
        <div  v-for="(item, i) in wifi_connections" :key="item.name"
              :class="{ connected: item.settings.essid == connected_essid,
                        editor_open: network_editor == i}"
              :data-i="i">
          <wifi-connection-editor v-if="network_editor == i"
                                  ref="wifi_connection_editor"
                                  :network="item"
                                  @delete="delete_wifi_connection(item)"
                                  @save="save_wifi_connection"/>
          <div  v-else
                class="essid"
                v-text="item.settings.essid"/>
          <button class="icon editor-toggle"
                  @click="toggle_editor(i)"
                  v-html="network_editor == i ? '&#xe810;': '&#xe764;'"/>
        </div>
      </div>
      <div  v-else
            class="info"
            v-t="'network_adapter.no_known_wifi_networks'"/>
      <div>
      <div  role="button"
            class="add-network"
            @click="add_wifi_network()"
            v-t="'network_adapter.add_wifi_network'"/>
      </div>
    </div>
    <div class="scanned-cells">
      <div  class="heading"
            v-t="'network_adapter.scanned_cells'"/>
      <div  v-if="wifi_networks.length"
            class="list">
        <div  v-for="connection in wifi_networks" :key="connection.mac"
              :class="{encrypted: !!connection.encryption}">
            <div  class="essid"
                  v-text="connection.essid"/>
            <div class="quality">
              <div :style="{width: `${connection.quality[0]/connection.quality[1]*100}%`}"/>
            </div>
            <button v-if="is_unknown_network(connection.essid)"
                    class="icon"
                    @click="add_wifi_network(connection.essid)"
                    v-html="'&#xe7fe;'"/>
        </div>
      </div>
      <div  v-else
            class="info"
            v-t="scanning_wifi? 'network_adapter.scanning_wifi'
                              : 'network_adapter.no_scan_results'"/>
      <div  role="button"
            class="scan-wifi"
            :class="{active: scanning_wifi}"
            @click=start_wifi_scan
            v-t="scanning_wifi? 'network_adapter.scanning_wifi'
                              : 'network_adapter.scan_wifi'"/>
    </div>
    <div class="wifi-status">
      <div  v-for="{status, essid} in (this.wifi_status[config.name] || [])"
            :key="`${essid}-${status}`">
        {{ $t(`wifi.status.${status}`, [essid || ''] ) }}
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.wifi-connection-config {
  display: grid;
  grid-template:
    "know-networks scanned-cells" 16em
    "wifi-status   wifi-status"   minmax(2em, auto)
    / 1fr          1fr;
  column-gap: 2ch;
  row-gap: 1ex;
  border: 1px solid var(--border-color);
  padding: 1ex 1ch;
  box-shadow: 1px 1px 2px silver;

  .known-wifi-networks,
  .scanned-cells {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1ex;
    overflow: hidden;

    .heading {
      font-weight: normal;
    }

    .list {
      padding: 2px;
      overflow: hidden auto;
    }
  }
  .known-wifi-networks .list {
    &.dnd {
      cursor: grabbing;
    }

    &:not(.dnd) > * .essid {
      cursor: grab;
    }

    & > * {
      display: grid;
      grid-template: "active content button" / 3ch 1fr 3ch;
      align-items: start;

      &.gu-transit {
        background: #f0f0f0;
        outline: 2px solid silver;
      }

      &.connected::before {
        content: "\e738";
        font-family: Vaadin-Icons;
        justify-self: center;
        opacity: .66;
      }
      &.editor_open {
        padding: 1ex 0;
        border: 1px solid var(--border-color);
        background: #f8f8f8;
      }
      .essid,
      .wifi-connection-editor {
        grid-area: content;
      }
      .essid {
        width: max-content;
      }
      &.gu-transit .essid {
        cursor: grabbing;
      }
      & > button {
        grid-area: button;
      }
      &.gu-transit > button {
        display: none;
      }
    }
  }
  .scanned-cells .list > * {
    display: grid;
    grid-template: "encrypted essid quality button" / 3ch 1fr 3ch 3ch;
    align-items: center;

    &.encrypted::before {
      content: "\e7f2";
      font-family: Vaadin-Icons;
      justify-self: center;
      opacity: .66;
    }

    .essid {
      grid-area: essid;
    }
    .quality {
      grid-area: quality;
      height: 1em;
      border: 1px solid var(--border-color);
      background: #f0f0f0;

      * {
        height: 100%;
        background: lightgreen;
      }
    }
    button {
      grid-area: button;
    }
  }
  .wifi-status {
    grid-area: wifi-status;
    line-height: 1.33;

    :not(:last-child) {
      opacity: .5;
      font-size: .95em;
      line-height: 1.16;
    }
  }

  .wifi_network {
    display: grid;
    grid-template:
      "essid    essid    toggle"
      "password password toggle"
      "delete   save     toggle" / 1fr min-content;
    gap: 2px 1ch;

    &.editor {
      margin-bottom: 1ex;
    }

    .essid {
      grid-area: essid;
    }
    .editor-toggle {
      grid-area: toggle;
      align-self: start;
    }
    .password {
      grid-area: password;
    }
    .delete {
      justify-self: start;
    }
    .save {
      justify-self: end;

    }
  }

  .info {
    align-self: center;
    padding: 2ex 1ch;
    line-height: 1.5;
    font-style: italic;
    color: silver;
  }

  .add-network::before {
    content: "\e7fe";
    font-family: Vaadin-Icons;
    display: inline-block;
    margin-right: 1ch;
  }

  .scan-wifi {
    justify-self: self-start;

    &::before {
      content: "\e805";
      font-family: Vaadin-Icons;
      display: inline-block;
      margin-right: 1ch;
    }

    &.active {
      cursor: default;
    }
  }
}
</style>

<script>
import WifiConnectionEditor from '../components/WifiConnectionEditor.vue'
import canonical from '../canonical_string.js'
import { mapActions, mapState } from 'vuex'
import api from '../api.js'
import dragula from 'dragula'

export default {
  name: 'wifi-connection-config',
  data() {
    return {
      network_editor: null,
      scanning_wifi: false,
      wifi_connections: [],
      client_id: null
    }
  },
  props: {
    config: {
      type: Object,
      default: Object
    },
  },
  computed: {
    ...mapState([
      'wifi_networks',
      'wifi_status',
      'shortitems'
    ]),
    connected_essid() {
      let status = this.wifi_status[this.config.name]
      if(!status || !status.length) return null
      let last_state = status[status.length - 1]
      return last_state.status == 'connected'? last_state.essid: null
    },
    addr_value() {
      return this.config.dhcp? this.dhcp_config : this.config
    },
    valid() {
      return this.config.dhcp || this.$refs.addr.valid
    },
    changed() {
      return (this.original_state != this.config.state ||
              this.original_dhcp != this.config.dhcp ||
              (!this.config.dhcp && this.original != canonical(this.config)))
    }
  },
  mounted() {
    this.init()
    this.update_wifi_status()
    this.update_wifi_status_interval = setInterval(this.update_wifi_status.bind(this), 1500)
    this.$el.scrollIntoView({block: 'nearest', behavior: 'smooth'})
  },
  beforeDestroy(){
    clearInterval(this.update_wifi_status_interval)
  },
  methods: {
    ...mapActions([
        'scan_wifi',
        'update_wifi_status',
        'update_shortitems',
        'save_item',
        'delete_item'
    ]),
    async init() {
      this.update_shortitems()
      let clients = this.shortitems.client || []
      if(!clients.length) return
      this.client_id = clients[0].id
      let relationships = await api.load_relationships(this.client_id)

      this.wifi_connections = await Promise.all(
        (relationships.device || [])
        .filter(device => device.subtype == 'wificonnection')
        .map(device => api.load_item(device.id))
      )
      this.wifi_connections.sort( (a, b) => a.settings.priority - b.settings.priority )

      this.$nextTick(() => {
        this.drake = dragula([this.$refs.known_wifi_connections], {
          moves: function (el, source, handle) {
            return handle.classList.contains('essid')
          }
        }).on('drag', () => {
          this.$refs.known_wifi_connections.classList.add('dnd')
        }).on('dragend', () => {
          this.$refs.known_wifi_connections.classList.remove('dnd')
        }).on('drop', (el, target) => {
          let new_pos = [...target.childNodes].indexOf(el)
          let old_pos = Number(el.dataset.i)
          let [connection] = this.wifi_connections.splice(old_pos, 1)
          this.wifi_connections.splice(new_pos, 0, connection)

          if(this.network_editor != null) {
            if(old_pos > this.network_editor
                && new_pos <= this.network_editor) {
              this.network_editor++;
            } else if(old_pos < this.network_editor
                && new_pos >= this.network_editor) {
              this.network_editor--;
            }
          }
          let promises = this.wifi_connections.map((item, index) => {
            item.settings.priority = index
            if(item.id != null) {
              return api.save_item(item)
            }
          })
          Promise.all(promises)
          .catch(ex => console.error(ex)) // eslint-disable-line no-console
          .then(() => api.configure_wifi())
        })
      })

      this.start_wifi_scan()
    },
    is_unknown_network(essid) {
      return !this.wifi_connections.some(
        ({settings}) => settings && settings.essid == essid)
    },
    toggle_editor(i) {
      if(this.network_editor != null) {
        let wifi_connection = this.wifi_connections[this.network_editor]
        if(wifi_connection.id == null) {
          this.wifi_connections.splice(this.network_editor, 1)
          if(this.network_editor == i) {
            i = null
          } else if(this.network_editor < i) {
            this.network_editor = null
            i--;
          }
          this.network_editor = i
          return
        }
      }
      this.network_editor = this.network_editor == i? null : i
    },
    async start_wifi_scan() {
      if(this.scanning_wifi) return
      this.scanning_wifi = true
      try {
        await this.scan_wifi(this.config.name)
      } catch(ex) {
        let error_message = this.$i18n.t('network_adapter.scan_wifi_failed')
        if(ex instanceof api.ServerErrorWithMessage) {
          error_message += '\n\n' + ex.message_object.message[this.$i18n.locale]
        } else {
          error_message += '\n\n' + ex
        }
        alert(error_message)
      }
      this.scanning_wifi = false
    },
    add_wifi_network(essid='') {
      this.wifi_connections.push({
        type: 'device',
        subtype: 'wificonnection',
        description: '',
        settings: {
          essid: essid
        }
      })
      this.toggle_editor(this.wifi_connections.length - 1)
    },
    async save_wifi_connection(network) {
      if(network.settings.priority == null) {
        network.settings.priority = this.network_editor
      }
      network.name = `(${this.network_editor})_${network.settings.essid}`
      await this.save_item(network)
      this.wifi_connections[this.network_editor] = network
      await api.set_relationships(network.id, [{id: this.client_id}])
      this.network_editor = null
      api.configure_wifi()
    },
    async delete_wifi_connection(network) {
      await this.delete_item(network)
      this.wifi_connections.splice(this.network_editor, 1)
      this.network_editor = null
      api.configure_wifi()
    }
  },
  components: {
    WifiConnectionEditor
  }
}

</script>
