.item-view {
  display: flex;
  flex-flow: row nowrap;
  height: calc(100% - 2ex);
  margin: 0;
  margin-bottom: 2ex;

  .settings {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 2ch;
    border: 1px solid silver;
  }

  .form-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 36px;
    padding-left: 20px;
    padding-right: 1ch;
    font-size: 18px;
    text-shadow: 0 0 0 #fff;
    background: var(--panel-caption-bg);
    color: white;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 4px);
      left: 6px;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: var(--section-color);
    }
    &.inactive::before {
      background: #999;
    }

    .actions {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      flex: 1;
      align-self: flex-start;
      margin-top: 5px;
      & > * {
        padding: 0 .5ch;
        font-size: 18px;
        color: white;
        cursor: pointer;
      }
      #related{
        .label {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          height: 1em;

          .on,
          .off {
            height: 0;
            opacity: 0;
            transition: opacity .2s ease-in-out;
          }
        }
        input:checked ~ .label .on,
        input:not(:checked) ~ .label .off {
          opacity: 1;
        }
      }

      .info-button {
        font-size: 14px;

        .icon {
          color: #fff;
        }
        .overlay {
          top: 2em;
          right: 2ch;
        }
      }
    }
  }

  .loading-feedback {
    flex: 1;
    & ~ .form {
      flex: 0;
    }
    & ~ .form-buttons * {
      visibility: hidden;
    }
  }

  .form {
    flex: 1;
    overflow: hidden auto;
  }
}

.item-view .form-buttons,
.network-view .form-buttons {
  align-items: center;
  display: flex;
  border-top: 1px solid silver;
  padding: 10px;

  * + button,
  * + [role=button] {
    margin-left: 1ch;
  }

  .feedback {
    flex: 1;
    position: relative;
    font-weight: 400;

    & > ::before {
      font-family: Vaadin-Icons;
      padding-right: 1ch;
    }

    .info::before {
      content: "\e710";
    }

    .saving::before {
      content: "\e703";
    }

    .success {
      color: darkseagreen;

      &::before {
        content: "\e75b";
      }
    }

    .error {
      color: darkred;

      &::before {
        content: "\e748";
      }
    }

    .error-details-toggle {
      margin-left: 1ch;

      .details {
        all: unset;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: var(--overlay-z-index);
        bottom: 4em;
        width:  max-content;
        max-width: 100%;
        box-sizing: border-box;
        background: white;
        box-shadow: 1px 1px 20px silver;
        padding: 2ex 1ch;
        max-height: 50vh;
        overflow: auto;
        white-space: pre-wrap;
        color: var(--text-color);
        user-select: text;

        &.active {
          border: inset;
        }
      }
    }
  }

  .save {
    position: relative;

    &:not([aria-disabled=true]) {
      background: darkseagreen;
      color: black;
      transition: color .3s ease-in, background .3s ease-in;
    }

    .loading-feedback {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding-top: 4px;
      box-sizing: border-box;
      background: white;
    }
  }

  .fade-leave-active {
    transition: opacity 3s ease-out;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

}
