.simple-form {
  display: inline-grid;
  grid-template-columns: auto 1fr 3ch;
  justify-items: stretch;
  max-width: 45ch;
  width: 100%;

  & > * ,
  fieldset > * {
    display: contents;

    & > * {
      margin: .5ex 0;
    }
    & > :first-child {
      grid-column: 1;
      margin-right: 2ch;
    }
  }

  .info-button {
    display: contents;
    button {
      justify-self: center;
    }
    .overlay {
      position: static;
      grid-column: 1/end;
      justify-self: end;
      margin-top: -.5ex;
      margin-left: 2.5ch;
      height: 0;
      max-width: max-content;
      width: calc(100% - 3.5ch);
    }
  }
}
