<template>
  <div class="display-view item-view">
    <div class="settings">
      <div class="form-title" :class="is_related? '': 'inactive'">
        <span v-if="item.type">
          {{ $t(`${i18n_path}.label`) }}
        </span>
        <span class="actions">
          <toggle-button  id="related"
                          v-if="!loading"
                          :value="is_related"
                          :title="$t('toggle-relationship')"
                          @change="toggle_relationship">
              <span class="on" v-t="'relationship.is-related'" />
              <span class="off" v-t="'relationship.not-related'" />
          </toggle-button>
        </span>
      </div>
      <loading-feedback v-if="loading || loading_error"
                        :error="loading_error"
                        :button="$t('retry')"
                        @button="init()"/>
      <div class="form">
        <form-group ref="form"
                    :value="item.settings"
                    :schema="xrandrcmd_schema"
                    :i18n_path="i18n_path"
                    @input="on_input"/>
        <template v-if="!item.settings.xrandrcmd || !item.settings.xrandrcmd.trim()">
          <form-group :value="display_settings"
                      :schema="display_schema"
                      :i18n_path="display_i18n_path"
                      @input="on_display_input"/>
          <fieldset class="form-group" data-level="1">
            <div>
              <label for="form.display.primary" v-t="'display.primary'"/>
              <form-select  :value="primary"
                            :schema="primary_schema"
                            i18n_path="display.primary"
                            @input="on_primary_input"/>
            </div>
          </fieldset>
          <display-canvas :value="active_displays"
                          @input="on_canvas_input"/>
        </template>
      </div>
      <div class="form-buttons">
        <div class="feedback">
          <span v-if="item_state.saving"
                class="saving"
                v-t="'save-hint.saving'" />
          <template v-else-if="apply_error">
            <span class="error">
              {{$t('display.apply_error')}}
            </span>
            <popup-button v-if="apply_error_details"
                          :label="$t('details')"
                          class="error-details-toggle" >
              <span class="details"
                    tabindex="-1"
                    v-text="apply_error_details"/>
            </popup-button>
          </template>
          <span v-else-if="item_state.invalid"
                class="error"
                v-t="'save-hint.invalid'" />
          <span v-else-if="item_state.save_error"
                class="error"
                v-t="'save-hint.error'" />
          <span v-else-if="item_state.changed && item.settings.xrandrcmd && item.settings.xrandrcmd.trim()"
                class="info"
                v-t="'save-hint.changed'" />
          <transition v-else name="fade">
            <span class="success"
                  v-show="item_state.save_success"
                  v-t="'save-hint.success'" />
          </transition>
        </div>
        <div  role="button"
              :aria-disabled="apply_disabled && save_disabled"
              @click="init">
          {{ $t('reset') }}
        </div>
        <div  role="button"
              :aria-disabled="apply_disabled"
              class="save"
              @click="apply">
          {{ $t('apply') }}
        </div>
        <div  role="button"
              v-if="item.settings.xrandrcmd && item.settings.xrandrcmd.trim()"
              class="save"
              :aria-disabled="save_disabled"
              @click="save">
          {{ $t('save') }}
          <loading-feedback v-if="item_state.saving" />
        </div>
      </div>
    </div>
    <div  v-if="show_confirm_overlay"
          class="confirm_overlay">
      <div>
        <p>{{ $t('display.confirm') }}</p>
        <p>{{ $t('display.countdown', [show_confirm_overlay_seconds]) }}</p>
        <div class="buttons">
          <button class="reset"
                  @click="cancel_confirm_overlay">
            {{ $t('reset') }}
          </button>
          <button class="save"
                  @click="save_confirm_overlay">
            {{ $t('save') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.display-view {
  .display-canvas {
    border: 2px solid var(--section-color);
    border-width: 2px 0;
  }

  .confirm_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    background: #8888;

    & > div {
      padding: 1em 2ch;
      border: 1px solid var(--border-color);
      background: #ffffff;

      .buttons {
        text-align: right;

        & > * {
          margin-left: 2ch;
        }
      }
    }
  }
}
</style>

<script>
import Item from './Item.vue'
import FormGroup from '../components/FormGroup.vue'
import FormSelect from '../components/FormSelect.vue'
import PopupButton from '../components/PopupButton.vue'
import DisplayCanvas from '../components/DisplayCanvas.vue'
import api from '../api.js'
import canonical from '../canonical_string.js'

// The computed (from form data and dnd gemonetry) xrandr command will be
// prefixed by (at least) a space to distinguish it from a manually specified
// command (which cannot start with a space - thanks to FormText behavior).
const COMPUTED_PREFIX = ' '

const XRANDR_AUTO = 'xrandr -s 0 -o 0'

export default {
  name: 'display',
  mixins: [Item],
  data() {
    return {
      computed_xrandrcmd: '',
      xrandr_information: {},
      display_i18n_path: 'form.display',
      display_settings: {},
      show_confirm_overlay: false,
      show_confirm_overlay_seconds: -1,
      show_confirm_overlay_interval: null,
      previous_xrandrcmd: '',
      primary: null,
      apply_error: false,
      apply_error_details: null,
    }
  },
  props: {
    type: {
      default: 'device'
    },
    subtype: {
      default: 'display'
    },
    unique: {
      default: true
    }
  },
  computed: {
    off() {
      return this.$t('display.off')
    },
    apply_disabled() {
      if(this.item.settings.xrandrcmd) {
        return this.save_disabled
      }
      return this.primary_candidates.length == 0
    },
    connected_entries() {
      return  Object.entries(this.xrandr_information || {})
                    .filter(([, {connected}]) => connected)
    },
    xrandrcmd_schema() {
      return {
        xrandrcmd: {
          type: 'string',
          default: this.computed_xrandrcmd.trim()
        }
      }
    },
    xrandrcmd() {
      if(this.item.settings.xrandrcmd && this.item.settings.xrandrcmd.trim()) {
        return this.item.settings.xrandrcmd.trim()
      } else {
        return this.computed_xrandrcmd
      }
    },
    active_displays() {
      return Object.fromEntries(Object.entries(this.xrandr_information)
                                .filter(([,v]) => v.resolution.length))
    },
    primary_candidates() {
      let primary_candidates = []
      for(let [name, info] of this.connected_entries) {
        let resolution = info.resolution_string
        if( this.display_settings[name] &&
            this.display_settings[name].resolution_string) {
          resolution = this.display_settings[name].resolution_string
        }
        if(resolution != this.$t('display.off')) {
          primary_candidates.push(name)
        }
      }
      return primary_candidates
    },
    primary_schema() {
      let primary = this.primary_candidates.find(name =>
                                          this.xrandr_information[name].primary)
      return {
        enum: this.primary_candidates,
        default: primary || this.primary_candidates[0]
      }
    },
    display_schema() {
      let schema = {}
      for(let [connector, info] of this.connected_entries) {
        schema[connector] = {
          type: 'object',
          properties: {
            resolution_string: {
              type: 'string',
              enum: info.resolution_strings,
              default: info.resolution_string
            }
          }
        }
        let resolution = info.resolution_string
        if( this.display_settings[connector] &&
            this.display_settings[connector].resolution_string) {
          resolution = this.display_settings[connector].resolution_string
        }
        if(resolution != this.off) {
          Object.assign(schema[connector].properties, {
            rotation: {
              type: 'string',
              enum: ['normal', 'left', 'right', 'inverted'],
              default: info.rotation
            }
          })
        }
      }
      return schema
    },
  },
  methods: {
    async init() {
      this.loading = true

      await Item.methods.init.call(this)

      // above may have set this.loading, but we are still gathering more info
      this.loading = true

      if(this.item.settings && this.item.settings.xrandrcmd != null) {
        this.previous_xrandrcmd = this.item.settings.xrandrcmd
        if(this.item.settings.xrandrcmd.startsWith(COMPUTED_PREFIX)) {
          this.$set(this.item.settings, 'xrandrcmd', '')
          this.original = canonical(this.item)
        }
      }
      await this.load_xrandr_information()
      this.make_xrandr()

      this.display_settings = {},
      this.apply_error = false

      this.loading = false
    },
    async load_xrandr_information() {

      try {

        this.xrandr_information = await api.load_xrandr()

      } catch(ex) {
        let error_message = this.$i18n.t('display.xrandr_query_error')
        if(ex instanceof api.ServerErrorWithMessage) {
          error_message += '\n\n' + ex.message_object.message[this.$i18n.locale]
        }
        this.loading_error = error_message
        return
      }

      for(let [connector, info] of this.connected_entries) {
        info.default = Object.assign({}, info)
        info.position = Object.assign({x: 0, y: 0}, info.position)
        info.resolutions.sort( (l,r) => r[0] - l[0] || r[1] - l[1] )
        info.resolution_strings = [ this.off,
                                    ...info.resolutions.map(r => r.join('x')) ]
        if(info.resolution.length) {
          info.resolution_string = info.resolution.join('x')
        } else {
          info.resolution_string = this.off
        }
        for(let locale of ['en', 'de']) {
          this.$i18n.mergeLocaleMessage(locale, {'form': {'display': {
              [connector]: {
                label: connector,
                resolution_string: {
                  label: this.$t(`${this.i18n_path}.firstscreen.resolution.label`)
                },
                rotation: {
                  ...this.$t(`${this.i18n_path}.firstscreen.rotation`, locale)
                }
              }
          }}})
        }
      }
    },
    on_display_input() {
      this.apply_error = false
      for(let [name, setting] of Object.entries(this.display_settings)) {
        let info = this.xrandr_information[name]
        if(setting.resolution_string == this.off) {
          info.resolution = []
          if(this.primary == name) {
            this.primary = null
          }
        } else if(setting.resolution_string) {
          info.resolution = setting.resolution_string.split('x').map(Number)
        } else {
          info.resolution = info.default.resolution
        }
        info.rotation = setting.rotation || info.default.rotation
      }
      this.make_xrandr()
    },
    on_canvas_input() {
      this.apply_error = false
      this.make_xrandr()
    },
    on_primary_input(value) {
      this.apply_error = false
      this.primary = value
      this.make_xrandr()
    },
    make_xrandr() {
      // Switch off all monitors
      let switch_off_cmd = [
        'xrandr',
        ...this.connected_entries.map( ([name]) => `--output ${name} --off`)
      ]

      let primary = (
          this.primary                                ||
          this.primary_candidates.find(name =>
              this.xrandr_information[name].primary)  ||
          this.primary_candidates[0]
      )
      // Switch on monitors one by one to prevent errors in case the
      // configuration hits the upper limit of the graphics card / chip.
      let switch_on_cmd = []
      for(let [name, info] of this.connected_entries) {
        if(info.resolution.length) {
          switch_on_cmd.push('; xrandr')
          switch_on_cmd.push('--output', name)
          switch_on_cmd.push( '--mode',
                              `${info.resolution[0]}x${info.resolution[1]}` )
          switch_on_cmd.push('--rotate', info.rotation || 'normal')
          switch_on_cmd.push('--pos', `${info.position.x}x${info.position.y}`)
          if(primary == name) {
            switch_on_cmd.push('--primary')
          }
        }
      }

      // Repeat switch_on_cmd since the first (and at that time only) monitor
      // may be forced to position (0,0)
      this.computed_xrandrcmd = [ COMPUTED_PREFIX,
                                  ...switch_off_cmd,
                                  ...switch_on_cmd,
                                  ...switch_on_cmd    ].join(' ')
    },
    async reset_xrandr(ignore_error_details=false) {
      try {
        await api.run_xrandr(this.previous_xrandrcmd.trim() || XRANDR_AUTO)
      } catch(ex) {
        console.error(ex.cause || ex) // eslint-disable-line no-console

        if(!ignore_error_details) {
          if(ex instanceof api.ServerErrorWithMessage) {
            this.apply_error_details = ex.message_object.message[this.$i18n.locale]
          } else {
            this.apply_error_details = null
          }
        }
      }
    },
    async apply() {
      this.apply_error = false
      try {
        await api.run_xrandr(this.xrandrcmd)
      } catch(ex) {
        console.error(ex.cause || ex) // eslint-disable-line no-console
        if(ex instanceof api.ServerErrorWithMessage) {
          this.apply_error_details =  ex.message_object.message[this.$i18n.locale]
        } else {
          this.apply_error_details = null
        }
        await this.reset_xrandr(true)
        this.apply_error = true
        return
      }
      this.open_confirm_overlay()
    },
    open_confirm_overlay() {
      this.show_confirm_overlay = true
      this.show_confirm_overlay_seconds = 16
      this.show_confirm_overlay_interval = setInterval(
        () => this.update_confirm_overlay(),
        1000
      )
    },
    cancel_confirm_overlay() {
      this.show_confirm_overlay = false
      clearInterval(this.show_confirm_overlay_interval)
      this.reset_xrandr()
    },
    update_confirm_overlay() {
      if(this.show_confirm_overlay_seconds <= 0) {
        this.cancel_confirm_overlay()
      }
      this.show_confirm_overlay_seconds -= 1
    },
    async save_confirm_overlay() {
      this.show_confirm_overlay = false
      clearInterval(this.show_confirm_overlay_interval)
      this.item.settings.xrandrcmd = this.xrandrcmd
      // set unconditionaly dirty so the save method actually saves
      this.item_state.changed = true
      await this.save()
      this.init()
    },
    async toggle_relationship() {
      if(this.is_related && this.item.id != null) {
        try {
          await api.run_xrandr(XRANDR_AUTO)
        } catch(ex) {
          console.error(ex.cause || ex) // eslint-disable-line no-console
        }
      }
      this.set_relationship(!this.is_related)
    }
  },
  components: {
    DisplayCanvas,
    PopupButton,
    FormSelect,
    FormGroup
  }
}
</script>
