<template>
  <div class="files-view">
    <div class="wallpaper expand">
      <div class="caption" @click="toggle" v-t="'files.wallpaper'" />
      <wallpaper-manager type="wallpaper" />
      <div class="hint" v-html="$t('files.wallpaper.help')" />
    </div>
    <div>
      <div class="caption" @click="toggle" v-t="'files.icons'" />
      <file-manager type="icon" :show_thumbnails="true"/>
      <div class="hint" v-html="$t('files.icons.help')" />
    </div>
    <div>
      <div class="caption" @click="toggle" v-t="'files.certificates'" />
      <file-manager type="certificate" />
      <div class="hint" v-html="$t('files.certificates.help')" />
    </div>
    <div>
      <div class="caption" @click="toggle" v-t="'files.openvpn'" />
      <file-manager type="openvpn" />
      <div class="hint" v-html="$t('files.openvpn.help')" />
    </div>
  </div>
</template>

<style lang="scss">
.files-view {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  height: 100%;
  max-width: 85ch;

  > div {
    display: grid;
    grid-template:  "caption caption" auto
                    " files   help  " 1fr / 1fr 1fr;
    grid-column-gap: 2ch;
    flex: 1 1 1px;
    margin: 0 2ch;
    overflow: hidden;
    transition: flex .15s .15s ease-in;

    @media (prefers-reduced-motion) {
      transition: none;
    }

    .caption {
      z-index: 1;
      grid-area: caption;
      margin-bottom: 1ex;
      padding: 0 1ch;
      font-size: 14px;
      line-height: 2em;
      color: #fff;
      text-shadow: 0 0 0 #fff;
      background: var(--panel-caption-bg);
    }

    & > :not(caption) {
      padding: 2ex 2ch;
    }

    .hint {
      overflow: auto;
    }

    @media(max-height: 1200px) {
      &.expand {
        margin-bottom: 2ex;
        box-shadow: 0 0 24px var(--border-color);
      }

      &:not(.expand) {
        flex: 0 1 2.5em;
        min-height: 2.5em;
        margin-bottom: 0;
        transition: flex .15s ease-out;

        @media (prefers-reduced-motion) {
          transition: none;
        }

        .caption {
          cursor: pointer;
        }

        & > :not(.caption) {
          display: none;
        }
      }
    }
  }

  .wallpaper {
    max-height: 300px;
  }

  .file-manager {
    flex: 1;
  }
}
</style>

<script>
import FileManager from '../components/FileManager.vue'
import WallpaperManager from '../components/WallpaperManager.vue'

export default {
  name: 'files',
  methods: {
    toggle(ev) {
      let div = ev.target.parentElement;
      [...this.$el.children].forEach(child => {
          child.classList[child == div? 'add' : 'remove']('expand')
      })
    }
  },
  components: {
    FileManager,
    WallpaperManager
  }
}

</script>
