<template>
  <div class="item-view">
    <div class="settings">
      <div class="form-title" :class="is_related? '': 'inactive'">
        <span v-if="item.id && !unique">
          {{ item.name }} ({{ $t(`${i18n_path}.label`) }})
        </span>
        <span v-else-if="item.type">
          {{ $t(`${i18n_path}.label`) }}
        </span>
        <span class="actions">
          <toggle-button  id="related"
                          v-if="!loading"
                          :value="is_related"
                          :title="$t('toggle-relationship')"
                          @change="toggle_relationship">
              <span class="on" v-t="'relationship.is-related'" />
              <span class="off" v-t="'relationship.not-related'" />
          </toggle-button>
          <router-link  v-if="item.id && !unique"
                        :to="{name: $route.meta.route.duplicate, params: {id}}"
                        v-slot="{ navigate }">
            <button class="icon"
                    @click="navigate"
                    :title="$t('duplicate')">
              &#xe7d4;
            </button>
          </router-link>
          <button v-if="item.id && !unique"
                  class="icon"
                  @mousedown.prevent @click="on_delete"
                  :title="$t('delete')">
            &#xe80b;
          </button>
          <info-button :autoclose="true" :i18n_path="i18n_path" />
        </span>
      </div>
      <loading-feedback v-if="loading || loading_error"
                        :error="loading_error"
                        :button="$t('retry')"
                        @button="(id != null) ? load(id) : load_unique()"/>
      <div class="form">
        <item-form  ref="form"
                    :show_general="!unique"
                    :value="item"
                    :schema="schema"
                    :i18n_path="i18n_path"
                    @input="on_input"
                    @validated="on_validated"/>
      </div>
      <div class="form-buttons">
        <div class="feedback">
          <span v-if="item_state.saving"
                class="saving"
                v-t="'save-hint.saving'" />
          <span v-else-if="item_state.invalid"
                class="error"
                v-t="'save-hint.invalid'" />
          <span v-else-if="item_state.save_error"
                class="error"
                v-t="'save-hint.error'" />
          <span v-else-if="item_state.changed"
                class="info"
                v-t="'save-hint.changed'" />
          <transition v-else name="fade">
            <span class="success"
                  v-show="item_state.save_success"
                  v-t="'save-hint.success'" />
          </transition>
        </div>
        <div  role="button"
              class="save"
              :aria-disabled="save_disabled"
              @click="save">
          {{ $t(item.id ? 'save': 'create') }}
          <loading-feedback v-if="item_state.saving" />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="../item-view.scss"></style>

<script>
import ItemForm from '../components/ItemForm.vue'
import LoadingFeedback from '../components/LoadingFeedback.vue'
import InfoButton from '../components/InfoButton.vue'
import ToggleButton from '../components/ToggleButton.vue'
import api from '../api.js'
import canonical from '../canonical_string.js'
import { mapActions, mapState } from 'vuex'

const empty_item = () => ({
  description: '',
  type: '',
  subtype: '',
  name: '',
  id: null,
  settings: {}
})

export default {
  name: 'item',
  data() {
    return {
      relationships: {},
      item: empty_item(),
      loading: false,
      loading_error: '',
      original: '',
      item_state: {
        invalid: false,
        changed: false,
        saving: false,
        save_success: false,
        save_error: false
      }
    }
  },
  props: {
    id: {
      type: [Number, String],
      default: null
    },
    unique: {
      type: Boolean,
      default: false
    },
    duplicate: {
      type: Boolean,
      default: false
    },
    create: {
      type: Boolean,
      default: false
    },
    type: {
      type: String
    },
    subtype: {
      type: String
    }
  },
  computed: {
    i18n_path() {
      let i18n_path_parts = ['schema', this.item.type]
      if(this.item.subtype) {
        i18n_path_parts.push(this.item.subtype)
      }
      return i18n_path_parts.join('.')
    },
    ...mapState([
      'schemas',
      'shortitems'
    ]),
    schema() {
      let type_schemas = this.schemas[this.item.type]
      return type_schemas? type_schemas[this.item.subtype] : {}
    },
    is_related() {
      return this.relationships.client && this.relationships.client.length
    },
    save_disabled() {
      return (
           this.item_state.saving
        || this.item_state.invalid
        || (this.item.id && !this.item_state.changed)
      )
    }
  },
  watch: {
    $route() {
      this.init()
    }
  },
  created() {
    this.init()
  },
  mounted() {
    this.$watch(
      () => !this.$refs.form.valid,
      newVal => { this.item_state.invalid = newVal }
    )
  },
  methods: {
    ...mapActions([
        'save_item',
        'delete_item',
        'update_shortitems',
        'update_select_shortitems'
    ]),
    reset_item_state(src = {}) {
      Object.keys(this.item_state).forEach(k => {this.item_state[k] = src[k]})
    },
    init() {
      this.update_shortitems()
      this.reset_item_state()
      this.item = Object.assign(empty_item(), {
        type: this.type,
        subtype: this.subtype
      })
      this.relationships = {}
      if(this.id != null) {
        return this.load(this.id)
      } else if(this.unique) {
        return this.load_unique()
      } else {
        this.set_relationship(true)
        this.$nextTick(() => {
          this.original = canonical(this.item)
          this.$refs.form.validate()
          this.$refs.form.focus()
        })
      }
    },
    on_validated() {
      this.item_state.save_success = false
    },
    on_input() {
      this.item_state.changed = ( this.original != canonical(this.item) )
      this.item_state.save_error = false
    },
    async save() {
      if(this.save_disabled) return

      let just_created = ( this.item.id == null )

      this.item_state.saving = true
      try {
        await this.save_item(this.item)
        if(just_created) {
          this.relationships = await api.set_relationships(this.item.id, this.relationships)
        }
      } catch(ex) {
        this.item_state.saving = false
        this.item_state.save_error = true
        console.error(ex) // eslint-disable-line no-console
        return
      }
      this.reset_item_state({
        save_success: true
      })
      if(this.item.type == 'application') {
        api.desktop_reload().catch( ex =>
          // eslint-disable-next-line no-console
          console.error('Failed to reload desktop', ex.cause || ex)
        )
      }
      setTimeout(() => { this.item_state.save_success = false }, 5000)

      this.original = canonical(this.item)

      if(just_created && !this.unique) {
        this.$router.replace({
          name: this.$route.meta.route.edit,
          params: {id: this.item.id}
        })
      }
    },
    async load_unique() {
      await this.update_select_shortitems(this.type, this.subtype)
      let shortitems = this.shortitems[this.type]
      if(shortitems) {
        if(this.subtype) {
          shortitems = shortitems.filter(item => item.subtype == this.subtype)
        }
        if(shortitems.length) {
          return await this.load(shortitems[0].id)
        } else {
          this.set_relationship(true)
        }
      }
      this.item.name = `default ${this.subtype || this.type}`
    },
    async load(id) {
      this.loading = true
      try {
        await Promise.all([
          api.load_relationships(id).then(r => {this.relationships = r}),
          api.load_item(id).then(item => {
            if(item) {
              this.item = item
              if(this.duplicate) {
                this.item.id = null
                this.item.name = this.$t('duplicate-prefix', [this.item.name])
                this.set_relationship(true)
              }
              this.loading_error = ''
            } else {
              this.loading_error = 'Item not found'
            }
          })
        ])
      } catch(ex) {
        if(ex instanceof api.ServerError) {
          this.loading_error = 'Could not load item'
        } else {
          this.loading_error = 'Error while loading item'
        }
        console.error(ex.cause || ex)  // eslint-disable-line no-console
      }
      this.loading = false

      this.$nextTick(() => {
        if(!this.loading_error) {
          this.original = canonical(this.item)
          this.$refs.form.validate()
          this.$refs.form.focus()
        }
      })
    },
    async toggle_relationship() {
      this.set_relationship(!this.is_related)
    },
    async set_relationship(related) {
      if(related == this.is_related) {
        return
      }
      if(related) {
        let items = this.shortitems['client'] || []
        if(items.length == 0) {
          return
        }
        this.$set(this.relationships, 'client', items)
      } else {
        this.$delete(this.relationships, 'client')
      }
      if(this.item.id) {
        this.relationships = await api.set_relationships(this.item.id, this.relationships)
      }
    },
    async on_delete() {
      let ok = confirm(this.$tc('dialog.confirm-delete', 1))
      if(!ok) {
        return
      }
      try {
        await this.delete_item(this.item)
      } catch(ex) {
        if(!(ex instanceof api.NotFoundError)) {
          // eslint-disable-next-line no-console
          console.error('Error while deleting item', ex)
          throw ex
        }
      }
      if(this.item.type == 'application') {
        api.desktop_reload().catch( ex =>
          // eslint-disable-next-line no-console
          console.error('Failed to reload desktop', ex.cause || ex)
        )
      }
      this.$router.replace({name: this.$route.meta.route.overview})
    }
  },
  components: {
    ItemForm,
    LoadingFeedback,
    InfoButton,
    ToggleButton
  }
}

</script>
