<template>
  <div class="license-view">
    <loading-feedback v-if="loading || loading_error"
                      :error="loading_error"
                      :button="$t('retry')"
                      @button="load"/>
    <template v-else>
      <h2 v-t="'license-form.info-heading'"/>
      <div id="license-info">
        <template v-if="license.type == 'evaluation'">
          <div>{{ $t('license-info.type-evaluation') }}</div>
          <div>{{ $t('license-info.remaining-days', [license.remaining_days]) }}</div>
        </template>
        <template v-else-if="license.grace_period">
          <div>{{ $t('license-info.type-expired') }}</div>
          <div>{{ $t('license-info.remaining-days',
                      [license.remaining_days]) }}</div>
        </template>
        <template v-else-if="license.valid">
          <div>{{ $t('license-info.type-valid') }}</div>
          <div>
            {{ $t('license-info.expiration-date') }}
            {{ $d(license['expirationDate']) }}
          </div>
          <div>{{ $t('license-info.remaining-days',
                      [license.remaining_days]) }}</div>
        </template>
        <template v-else-if="license.type == 'full'">
          {{ $t('license-info.type-expired-locked') }}
        </template>
        <template v-else>
            {{ $t('license-info.type-none') }}
        </template>
        <div v-if="license.type == 'full'">
          {{ $t('license-info.bound-to') }}:
          <template v-if="license_mac_bound">
            {{ $t('license-info.bound-to-mac') }}
          </template>
          <template v-else>
            {{ $t('license-info.bound-to-disk') }}
          </template>
          ({{ license.mac }})
        </div>
        <hr/>
        <div v-html="$t('license-info.shop-link')"/>
      </div>
      <h2 v-t="'license-form.data-heading'"/>
      <div id="license-data">
        <div class="simple-form">
          <form-group ref="license_data_form"
                      :schema="license_data_schema"
                      :value="license_data"
                      i18n_path="license-form"
                      @validated="on_license_data_validated"
                      @focus:next="() => $refs.mac_source.focus()"/>
          <form-number-select
              ref="mac_source"
              :schema="mac_source_schema"
              :value="license_data.mac_source"
              i18n_path="license-form.mac_source"
              name="mac_source"
              @input="value => $set(license_data, 'mac_source', value)"
              @focus:prev="() => $refs.license_data_form.focus_last()"
              @focus:next="$refs.download_button.focus()" />
          <form-text :value="mac" :disabled="true" />
        </div>
        <button ref="download_button"
                class="download"
                :disabled="disable_save"
                @click="on_save_license_data"
                @keydown.up="$refs.mac_source.focus()">
          {{ $t('license-download.button') }}
          <loading-feedback v-if="saving" />
        </button>
        {{ $t(saving_error) }}
      </div>
    </template>
  </div>
</template>

<style lang="scss">
.license-view {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  max-width: 45ch;
  height: calc(100% - 1em);
  overflow: hidden;
  margin: 0 2ch;

  & > .loading-feedback {
    flex: 1;
  }

  h2 {
    font-size: 14px;
    line-height: 2;
    font-weight: 300;
    background: var(--panel-caption-bg);
    color: #fff;
    text-shadow: 0 0 #fff;
    padding: 0 1ch;
  }

  h2 + * {
    padding: 0 1ch;
  }

  #license-data {
    display: grid;
    gap: 2ex;

    #license-form\.pin {
      text-transform: uppercase;
    }

    .v-select .vs__dropdown-toggle {
      height: 100%;
      box-sizing: border-box;

      .vs__selected-options input.vs__search::placeholder {
        opacity: 1;
      }
      button {
        display: none;
      }
    }

    button.download {
      justify-self: end;
      position: relative;
      margin-right: 3ch;

      .loading-feedback {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 4px;
        box-sizing: border-box;
        background: white;
      }
    }
  }
}
</style>

<script>
import FormGroup from '../components/FormGroup.vue'
import FormText from '../components/FormText.vue'
import FormNumberSelect from '../components/FormNumberSelect.vue'
import LoadingFeedback from '../components/LoadingFeedback.vue'
import api from '../api.js'


export default {
  name: 'license',
  data() {
    return {
      loading: true,
      loading_error: '',
      disable_save: true,
      saving: false,
      saving_error: '',
      license: {},
      license_data: {},
      license_data_schema: {
        email: {
          type: 'string',
          validators: [ {type: 'required'} ]
        },
        customer_id: {
          type: 'string',
          validators: [ {type: 'required'} ]
        },
        pin: {
          type: 'string',
          validators: [ {
            type: 'required'
          }, {
            type: 'regex',
            value: '^(|[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4})$'
          }]
        },
      },
      mac_source_schema: {
        type: Number,
        enum: [0, 1],
        default: 0
      }
    }
  },
  computed: {
    mac() {
      return this.license_data.macs[this.license_data.mac_source || 0]
    },
    license_mac_bound() {
      return /[\da-z]{2}(?::[\da-z]{2}){5}/i.test(this.license.mac)
    }
  },
  mounted() {
    this.load()
  },
  methods: {
    async load() {
      this.loading = true
      this.$set(this, 'license', await api.load_license())
      this.$set(this, 'license_data', await api.load_license_data())
      this.loading = false
      this.$nextTick(() => {
          this.$refs.license_data_form.validate()
      })
    },

    on_license_data_validated() {
      this.disable_save = !this.$refs.license_data_form.valid
    },

    async on_save_license_data() {
      this.saving = true
      this.saving_error = ''
      await api.save_license_data(this.license_data)
      try {
        let license = await api.update_license()
        if(Object.keys(license).length > 0) {
          this.$set(this, 'license', await api.load_license())
          this.saving_error = 'license-download.success'
        } else {
          this.saving_error = 'license-download.error-not-found'
        }
      } catch(ex) {
        if(ex instanceof api.NotFoundError) {
          this.saving_error = 'license-download.error-not-found'
        } else {
          if(ex.cause == 504) {
            this.saving_error = 'license-download.error-connection'
          } else {
            this.saving_error = 'license-download.error'
          }
        }
      }
      this.saving = false
    },
  },
  components: {
    FormGroup,
    FormText,
    FormNumberSelect,
    LoadingFeedback
  }
}

</script>
