<template>
  <div class="network-view">
    <loading-feedback v-if="loading || loading_error"
                      :error="loading_error"
                      :button="$t('retry')"
                      @button="load"/>
    <div v-else class="form">
      <network-adapter-config v-for="config in configurable_network"
                              :key="config.name"
                              ref="configs"
                              :config="config"
                              @input="on_input"
                              @validated="on_validated"
                              @focus:prev="focus_prev"
                              @focus:next="focus_next"/>
    </div>
    <div class="form-buttons">
      <div class="feedback">
        <span v-if="item_state.saving"
              class="saving"
              v-t="'save-hint.saving'" />
        <span v-else-if="item_state.invalid"
              class="error"
              v-t="'save-hint.invalid'" />

        <template v-else-if="item_state.save_error">
          <span class="error">
            {{$t('save-hint.error')}}
          </span>
          <popup-button v-if="save_error_details"
                        :label="$t('details')"
                        class="error-details-toggle" >
            <span class="details"
                  tabindex="-1"
                  v-text="save_error_details"/>
          </popup-button>
        </template>


        <transition v-else name="fade">
          <span class="success"
                v-show="item_state.save_success"
                v-t="'save-hint.success'" />
        </transition>
      </div>
      <button class="save"
              :aria-disabled="save_disabled"
              @click="save">
        {{ $t('save') }}
        <loading-feedback v-if="item_state.saving" />
      </button>
    </div>
  </div>
</template>

<style lang="scss" src="../item-view.scss" />
<style lang="scss">
.network-view {
  display: grid;
  grid-template-rows: 1fr auto;
  box-sizing: border-box;
  max-width: 75ch;
  height: calc(100% - 1em);
  overflow: hidden;
  margin: 0 2ch;

  & > * {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--border-color);
  }

  .loading {
    align-self: center;
  }

  .form {
    overflow: auto;

  }

  .form-buttons {
    border-top: none;
  }
}
</style>

<script>
import LoadingFeedback from '../components/LoadingFeedback.vue'
import PopupButton from '../components/PopupButton.vue'
import NetworkAdapterConfig from '../components/NetworkAdapterConfig.vue'
import api from '../api.js'

export default {
  name: 'network',
  data() {
    return {
      network: {},
      adapter_configs: [],
      loading: false,
      loading_error: '',
      item_state: {
        invalid: false,
        changed: false,
        saving: false,
        save_success: false,
        save_error: false,
      },
      save_error_details: null
    }
  },
  computed: {
    configurable_network() {
      let configs = []
      for(let [name, config] of Object.entries(this.network)) {
        if(config.type != 'loopback') {
          configs.push(Object.assign(config, {name}))
        }
      }
      return configs
    },
    save_disabled() {
      return (
           this.item_state.saving
        || this.item_state.invalid
        || this.loading
        || !!this.loading_error
        || !this.item_state.changed
      )
    }
  },
  mounted() {
    this.adapter_configs = this.$refs.configs || []
    this.load()
    this.$watch(
      () => this.adapter_configs.some(c => c.changed),
      newVal => this.item_state.changed = newVal
    )
    this.$watch(
      () => this.adapter_configs.some(c => !c.valid),
      newVal => this.item_state.invalid = newVal
    )
  },
  updated() {
    this.adapter_configs = this.$refs.configs || []
  },
  methods: {
    async load() {
      this.loading = true
      this.loading_error = ''
      try {
        this.network = await api.load_network()
      } catch(ex) {
        let error_message = this.$t('load-fail')
        if(ex instanceof api.ServerErrorWithMessage) {
          error_message += '\n\n' + ex.message_object.message[this.$i18n.locale]
        }
        this.loading_error = error_message
      }
      this.loading = false
    },
    async save() {
      if(this.save_disabled) return

      this.adapter_configs.forEach(c => c.validate())
      if(!this.item_state.invalid) {
        this.item_state.saving = true
        try {
          await api.save_network(this.network)
        } catch(ex) {
          this.item_state.saving = false
          this.item_state.save_error = true
          console.error(ex.cause || ex) // eslint-disable-line no-console
          if(ex instanceof api.ServerErrorWithMessage) {
            this.save_error_details = ex.message_object.message[this.$i18n.locale]
          } else {
            this.save_error_details = null
          }
          return
        }
        this.reset_item_state({
          save_success: true
        })
        await api.configure_wifi()
        this.load()
        setTimeout(() => { this.item_state.save_success = false }, 5000)
      }
    },
    reset_item_state(src = {}) {
      Object.keys(this.item_state).forEach(k => {this.item_state[k] = src[k]})
    },
    on_input(value) {
      this.network[value.name] = value
      this.item_state.save_error = false
    },
    on_validated() {
      this.item_state.save_success = false
    },
    focus_prev(element) {
      let i = this.adapter_configs.indexOf(element) - 1
      if(i < 0) {
        this.$emit('focus:prev', this)
      } else {
        this.adapter_configs[i].focus_last()
      }
    },
    focus_next(element) {
      let i = this.adapter_configs.indexOf(element) + 1
      if(i == 0 || i == this.adapter_configs.length) {
        this.$emit('focus:next', this)
      } else {
        this.adapter_configs[i].focus_first()
      }
    }
  },
  components: {
    LoadingFeedback,
    PopupButton,
    NetworkAdapterConfig
  }
}
</script>
